body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #666;
}